.appBackground {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.5s ease, opacity 0.5s ease; /* animatie frumoasa */
}

.appBackground.blur {
  filter: blur(6px) brightness(70%);
}
